---
layout: default
permalink: 404.html
eleventyExcludeFromCollections: true
---
<h1 class="text-3xl">Content Not Found</h1>

Go <a href="{{ '/' | url }}">home</a>.

<img alt="Page Missing" src="/assets/images/404.svg" />
